#body{
    display: flex;
    justify-content: center;
    align-items: center;
#box{
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    width: 600px;
    height: 500px;
    background-color: beige;
    #logtit{
        width: 100%;
        p{font-weight: bold;
            width: 100%;
           margin-left: 200px;
        }

    }
#form{margin-left: 70px;
    form{
        width: 100%;
        input,button{
            border: 1px solid lightgray;
            border-radius: 3px;
            width: 400px;
            height: 40px;
            color: lightgray;
            margin: 10px;
font-size: 15px;
        }
        button{
width: 405px;
padding: 10px;
background-color: #00cf00;
color: white;
        }
        a{font-size: 20px;
            margin-left:10px ;
         text-decoration: none;
        color: black;
        }
    }

}
}}
#bodyi{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column wrap;
#header{
    background-color: beige;
position: sticky;
p{ font-weight: bold;
    font-size: 20px;
    a{
        text-decoration: none;
        color: black;
    }
}
#icon1{
    float: left;
}
#icon2{
    float: right;
}
}
#table{
    font-size: 15px;
    width: 100%;
    .tab{
 width: 100%;
border-collapse: collapse;
border: 1px solid aliceblue;
tr{
    td{background-color: whitesmoke;
         border: 1px solid whitesmoke;
    padding: 5px;
    button{
        border: none;
        width: 100%;
        height: 100%;
        padding: 5px;
        background: none;
        color: blue;
    }
    }
    #d2{
        background-color: #ee8;
        width: 40%;
    }
    #d1{
         background-color: #ee8;
width: 30%;
    }
    #d3,#d4{
          background-color: #ee8;
width: 15%;
    }
    #e2{
         background-color: #e77;
        width: 40%;
    }
    #e1{
         background-color: #e77;
        width: 30%;
    }
  #e3,#e4{
          background-color: #e77;
width: 15%;
    }
}
    }

}
#createarea{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: beige;
    visibility: hidden;
input{
    border: 1px solid lightgray;
    width: 400px;
    height: 40px;
    border-radius: 3px;
    margin: 10px;
}
button{
     border: 1px solid lightgray;
    width: 100px;
    height: 40px;
    background-color: #00cf00;
    border-radius: 3px;
    margin: 10px;
}
}
}
#bod{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    #tit{
        background-color: beige;
        width: 50%;
       p{
        text-align: center;
       }
    }
#form{
    width: 50%;
    height: 600px;
    background-color: beige;
form{
    width: 100%;
#inp1{
    width: 70%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px;
}
#inp2{
width: 80%;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px;
}
button{
    width: 35%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 80px;
    background-color: #00cf00;
}


}


}



}